<div class="container">
  <br>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a
        class="navbar-brand"
        href="#"
      >


        Prueba Técnica
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              [routerLink]="['/inicio']"
            >Inicio</a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              [routerLink]="['/ver_orden']"
            >Ver Ordenes</a>
          </li>

        </ul>

        <ul class="navbar-nav navbar-right mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/ordenes']"
            >Registrar una orden</a>
          </li>
        </ul>

        <ul class="navbar-nav navbar-right mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >Gestores</a>

            <ul
              class="dropdown-menu"
              aria-labelledby="navbarDropdown"
            >
              <li>
                <a
                  class="dropdown-item"
                  [routerLink]="['/cliente']"
                >Gestor de Clientes</a>
              </li>

              <li>
                <a
                  class="dropdown-item"
                  [routerLink]="['/productos']"
                >Gestor de Productos</a>
              </li>

              <li>
                <a
                  class="dropdown-item"
                  [routerLink]="['/ciudades']"
                >Gestor de Ciudades</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
  <footer>
    <hr>
    Prueba técnica por Andrés Julián Hurtado &copy;
    <hr>
  </footer>
</div>