<div class="col-md-12 mt-3">
    <h1>{{page_title}}</h1>
    <div class="alert alert-success" *ngIf="status == 'success'">
        El registro se ha realizado correctamente
    </div>

    <form action="" class="col-md-5 ml-0 pl-0" #registerForm="ngForm" (ngSubmit) = "onSubmit(registerForm)">
        <div class="form-group">
            <label for="name">Nombre Ciudad</label>
            <input type="text" name="city_name" class="form-control"  #city_name ="ngModel" [(ngModel)] = "city.city_name" required pattern="[a-zA-z]+">
            <small *ngIf="!city_name.valid && city_name.touched" class="invalid-feedback d-block">
                El nombre no es válido
            </small>
        
        </div>
        <br>
        <input type="submit" value="Registrar Ciudad" class="btn btn-success" [disabled] = "registerForm.invalid"/>
    </form>
</div>


    <div class="col-md-6 mt-3">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Ciudad</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let city of cities ">
                <th>{{city.city_name}}</th>
              
              </tr>
            </tbody>
          </table>
    
    </div>


